* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background: #f4f4f4;
  color: #000;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 100vh;
  // width: 100vw;
}

h2 {
  color: #003d99;
  padding-bottom: .5rem;
}

p {
  margin-bottom: 1rem;
}

input {
  margin: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  margin: 0 3px;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 20px;
}

.tasklist {
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 15px;
  border-radius: 5px;
}

.tasklist ul {
  list-style: none;
  padding: 0;
}

.tasklist li {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
  cursor: pointer;
}

.tasklist li.done span {
  text-decoration: line-through;
  color: gray;
}




// PÁGINA DE LOGIN E CADASTRO


.login, .header, .adc-list, .lists {
  background: white;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  margin: .8rem auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login {
  width: 25vw;
}

form {
  display: flex;
  flex-direction: column;

  label, input {
        display: block;
        width: auto;
    }
  
  input {
        margin-bottom: .5rem;
        padding: .8rem;
        border: 1px solid #ccc;
        border-radius: 20px;
        background-color: transparent;
        color: #000;
    }

  button {
        width: auto;
        padding: .7rem;
        background-color: #0052cc;
        color: white;
        border: none;
        // border-radius: 15px;
        cursor: pointer;
        font-size: 1rem;
        transition: background-color .3s ease;
        margin: .5rem;

        &:hover {
            background-color: #003d99;
        }
    }
}

.btn-cadastre-se {
  background-color: transparent;
  color: #003d99;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    background-color: transparent;
  }
}

.btn-voltar {
  background-color: gray;
  margin: 0 .5rem;

  &:hover {
    background-color: darkgray;
  }
}


// DASHBOARD

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  
  .btn-sair {
    padding: .8rem 4.5rem;
    font-size: 1rem;
  }
}

.adc-list {
  input {
    width: 30vw;
  }
  .btn-adicionar {
    background-color: #28a745;
    width: 20vw;
    padding: .8rem 0;
    font-size: 1rem;

    &:hover {
      background-color: #218838;
    }
  }
}

.dashboard {

  max-width: 80vw;

  input {
        margin-bottom: .5rem;
        padding: .8rem;
        border: 1px solid #ccc;
        border-radius: 20px;
        background-color: transparent;
        color: #000;
    }

  button {
        width: auto;
        padding: .7rem;
        background-color: #0052cc;
        color: white;
        border: none;
        // border-radius: 15px;
        cursor: pointer;
        font-size: 1rem;
        transition: background-color .3s ease;
        margin: .5rem;
        font-size: .8rem;

        &:hover {
            background-color: #003d99;
        }
    }

  .btn-excluir {
  background-color: black;


  &:hover {
    background-color: darkred;
  }
}
}

.lists {

  h3 {
    display: inline-block;
  }

  // display: flex;
  flex-wrap: wrap;
}

.lists-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}




@media (max-width: 768px) {

  h2 {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.9rem;
  }

  .login {
    width: 80vw;
  }

  .header {
    margin: 1rem .5rem 0;
    flex-direction: column;
  }
  
  .adc-list, .lists {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  margin: .8rem .5rem;
}

  .adc-list {
  display: flex;
  flex-direction: column;
  align-items: center;

    input {
      width: 60vw;
      margin-bottom: .5rem;
    }

    .btn-adicionar {
      width: 60vw;
      padding: .8rem 0;
    }
  }

  .lists-container {
    flex-direction: column;
  }
}