* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background: #f4f6f8;
  color: #000;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.app {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

h2 {
  color: #003d99;
  padding-bottom: .5rem;
}

p {
  margin-bottom: 1rem;
}

input {
  margin: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  margin: 5px;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 20px;
}

.tasklist {
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 15px;
  border-radius: 5px;
}

.tasklist ul {
  list-style: none;
  padding: 0;
}

.tasklist li {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
  cursor: pointer;
}

.tasklist li.done span {
  text-decoration: line-through;
  color: gray;
}

.lists-container {
  display: flex;
  gap: 20px;
}


// PÁGINA DE LOGIN E CADASTRO




.login, .dashboard {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.login {
  width: 25vw;
}

form {
  display: flex;
  flex-direction: column;

  label, input {
        display: block;
        width: auto;
    }
  
  input {
        margin-bottom: .5rem;
        padding: .5rem;
        border: 1px solid #ccc;
        border-radius: 20px;
        background-color: transparent;
        color: #000;
    }

  button {
        width: auto;
        padding: .7rem;
        background-color: #0052cc;
        color: white;
        border: none;
        // border-radius: 15px;
        cursor: pointer;
        font-size: 1rem;
        transition: background-color .3s ease;
        margin-bottom: .5rem;

        &:hover {
            background-color: #003d99;
        }
    }
}

.btn-cadastre-se {
  background-color: transparent;
  color: #003d99;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    background-color: transparent;
  }
}